name: data combiner
run-name: Building data for commit ${{ github.sha }} by ${{ github.actor }}
on:
  push:
    branches:
      - main

permissions: write-all
jobs:
  build-data:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"
      - name: Install the project
        run: uv sync --all-extras

      - name: build data
        run: uv run loa_combine

      - name: Archive generated files as artifact
        uses: actions/upload-artifact@v4
        with:
          name: generated-files
          path: ./dist

      - name: Checkout production branch
        uses: actions/checkout@v2
        with:
          ref: production

      - name: Download generated files artifact
        uses: actions/download-artifact@v4
        with:
          name: generated-files
          path: ./dist

      - name: Apply changes to production branch
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add --force dist
          git diff-index --quiet HEAD || (git commit -a -m "Add generated files from main branch" --allow-empty && git push origin production)
